/* COMMON */
body {
  height: 3000px;
  color: #16181B;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.4;
  
}
img {
  display: block;
}
a,ul {
  text-decoration: none;
  list-style: none;
  color: #16181B;
}
a {
  display: block;
}

/* HEADER */
header {
  border-bottom: 1px double #DDD;
  position: relative;
}
header .inner {
  width: 1100px;
  height: 165px;
  margin: 0 auto;
  position: relative;
}
header .logo {
  height: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  margin: auto;
  cursor: pointer;
}
header .logo>img {
  position: relative;
  width: 180px;
  height: 65px;
}

/* top_sub_menu */
header .top_sub_menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  
}
header .top_sub_menu li {
  position: relative;
}
header .top_sub_menu li::before {
  content: "";
  /* display: block; ::before가상 요소는 인라인 요소로 block요소 전환으로 가로세로 값 지정하도록 바꿔준다. ②그럼으로 이 부분은 삭제하기 */
  width: 1px;
  height: 12px;
  background-color: #DDD;
  position: absolute; /* ①해당 코드는 요소를 display:block으로 자동 전환해준다. */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .top_sub_menu li:first-child::before {
  display: none;
}
header .top_sub_menu li a {
  font-size: 12px;
  padding: 9px 10px;
}
header .sub-menu {
  display: flex;
  position: absolute;
  top: 55px;
  right: 0;
}
header .sub-menu .search {
  position: relative;
}
header .sub-menu .search input {
  width: 340px;
  height: 42px;
  padding: 0 10px 0 14px;
  border: 1.5px solid #F44336;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  margin-right: 40px;
}
header .sub-menu .search .material-icons {
  width: 40px;
  height: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  margin: auto;
  cursor: pointer;
}
header .sub-menu .menu {
  display: flex;
}
header .sub-menu .menu li {
  
}
header .sub-menu .menu li::before {
  content: "";
  width: 1px;
  height: 14.5px;
  background-color: #DDD;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu .menu li:first-child::before {
  display: none;
}
header .sub-menu .menu li a {
  font-size: 14.5px;
  padding: 10px 15px;
}

/* main menu */
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
}
header .main-menu .item {
  
}
header .main-menu .item .item__name {
  padding: 12px 50px 12px 0;
  
}
header .main-menu .item .item__name a {
  
}
header .main-menu .item .item__name  {
  
}
header .main-menu .item:first-child:hover .item__name {
  color: #16181B;
  font-weight: bold;
  text-align: center;
}
header .main-menu .item .item__contents {
  width: 125px;
  position: fixed;
  display: none;
  box-shadow: 0px 0px 5px #DDD
}
header .main-menu .item:first-child:hover .item__contents {
  display: block;  
}
header .main-menu .item .item__contents .contents_name {
  background-color: #FFF;
  width: 135px;
  height: 80px;  
}
header .main-menu .item .item__contents .contents_name>li {
  display: flex;
}
header .main-menu .item .item__contents .contents_name>li .truck_icon {
  width: 20px;
  height: 20px;
  padding: 12px 0 0 12px;  
}
header .main-menu .item .item__contents .contents_name li a {
  width: max-content;
  padding: 12px 12px 0 9px;
  text-align: center;
}

/* PROMOTION */
.promotion {
  margin: 0;
  padding: 0;
  background-color: pink;
}
.promotion .swiper {
  
}
.promotion .swiper .swiper-wrapper {
  
}
.promotion .swiper .swiper-wrapper .swiper-slide {
  
}
.promotion .swiper .swiper-wrapper .swiper-slide img {
  width: auto;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination {
  /* position: absolute;
  top
  margin: auto; */
}

/* PRODUCTS */
.product_unit {
  position: relative;
  width: 1500px;
  margin: 0 auto;
}
h2 {
  color: #16181B;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  /* text-align: center; */
  margin: 50px 0 50px 0;
  width: 1040px;
  position: absolute;
  top: 15px;
  left: 230px;
}
.product_unit .main_board {
  width: 1040px;
  position: absolute;
  top: 100px;
  left: 220px;
  margin: 0 auto;
}
.product_unit .main_board_row2 {
  position: absolute;
  top: 725px;
  left: 220px;
  margin: 0 auto;
}
.product_unit .main_board .product-wrapper-left,
.product_unit .main_board_row2 .product-wrapper-left {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 10px;
  border-right: 1px solid #DDD;
}
.product_unit .main_board .product-wrapper-left .brand_img {
  
}
.product_unit .main_board .product-wrapper-left .products_unit,
.product_unit .main_board_row2 .product-wrapper-left .products_unit {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: -15px 13px 0 12px;
  padding: 15px 0 0;
  background-color: #fff;
}
.product_unit .main_board .product-wrapper-left .products_unit .product_img_wrap,
.product_unit .main_board_row2 .product-wrapper-right .products_unit .product_img_wrap {
  text-align: center;
}
.product_unit .main_board .product-wrapper-left .products_unit .product_img {
  
}
.product_unit .main_board .product-wrapper-left .products_unit .product_img>a {
  
}
.product_unit .main_board .product-wrapper-left .products_unit .product_img>a>img {
  
}
.product_unit .main_board .product-wrapper-left .products_unit .brand--name {

}
.product_unit .main_board .product-wrapper-left .products_unit .product--name {

}
.product_unit .main_board .product-wrapper-left .products_unit .product--price {

}
.product_unit .main_board .product-wrapper-left .products_unit .promo_icon {

}
.product_unit .main_board .product-wrapper-right,
.product_unit .main_board_row2 .product-wrapper-right {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 10px;
}
.product_unit .main_board .product-wrapper-right .brand_img {
    
}
.product_unit .main_board .product-wrapper-right .products_unit,
.product_unit .main_board_row2 .product-wrapper-right .products_unit {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: -15px 13px 0 12px;
  padding: 15px 0 0;
  background-color: #fff;
}
.product_unit .main_board .product-wrapper-right .products_unit .product_img_wrap .product_img {

}
.product_unit .main_board .product-wrapper-right .products_unit .product_img>a {
  
}
.product_unit .main_board .product-wrapper-right .products_unit .product_img>a>img {
  
}
.product_unit .main_board .product-wrapper-right .products_unit .brand--name {

}
.product_unit .main_board .product-wrapper-right .products_unit .product--name {

}
.product_unit .main_board .product-wrapper-right .products_unit .product--price {

}
.product_unit .main_board .product-wrapper-right .products_unit .promo_icon {

}

