/* COMMON */
html, body {
  width: 100%;
  height: 2300px;
  overflow-x: hidden;
}
body {
  color: #16181B;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.4;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F44336;
  position: absolute;
  pointer-events: none;
  /* 뷰포트 모서리 기준 지름 중앙정렬 */
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  backdrop-filter: invert(100%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
}

main {
  /* display: flex;
  flex-direction: column; */
  min-height: 150vh; /* 화면 전체 높이 */
  /* margin: 0; */
}
img {
  display: block;
  max-width: 100%;
  cursor: none;
}
a,ul {
  text-decoration: none;
  list-style: none;
  color: #16181B;
}
a {
  display: block;
}
button {
  /* border: none; */
  outline: none;
  background-color: inherit ;
  cursor: pointer;
}

/* HEADER */
header {
  border-bottom: 1px double #DDD;
  position: relative;
}
header .inner {
  width: 1200px;
  height: 165px;
  margin: 0 auto;
  position: relative;
}
header .logo {
  height: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  margin: auto;
  cursor: pointer;
}
header .logo>img {
  position: relative;
  width: 180px;
  height: 65px;
  
}

/* top_sub_menu */
header .top_sub_menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  
}
header .top_sub_menu li {
  position: relative;
}
header .top_sub_menu li::before {
  content: "";
  /* display: block; ::before가상 요소는 인라인 요소로 block요소 전환으로 가로세로 값 지정하도록 바꿔준다. ②그럼으로 이 부분은 삭제하기 */
  width: 1px;
  height: 12px;
  background-color: #DDD;
  position: absolute; /* ①해당 코드는 요소를 display:block으로 자동 전환해준다. */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .top_sub_menu li:first-child::before {
  display: none;
}
header .top_sub_menu li a {
  font-size: 12px;
  padding: 9px 10px;
}
header .top_sub_menu li a:hover {
  text-decoration: underline;
}
header .sub-menu {
  display: flex;
  position: absolute;
  top: 55px;
  right: 0;
}
header .sub-menu .search {
  position: relative;
}
header .sub-menu .search input {
  width: 340px;
  height: 42px;
  border: 1.5px solid #F44336;
  box-sizing: border-box;
  border-radius: 50px;
  margin-right: 100px;
  display: block;
  padding: 0 10px 0 14px;
  outline: none;
}
header .sub-menu .search .material-icons {
  width: 40px;
  height: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 110px;
  margin: auto;
  cursor: pointer;
}
header .sub-menu .menu {
  display: flex;
}
header .sub-menu .menu li::before {
  content: "";
  width: 1px;
  height: 14.5px;
  background-color: #DDD;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu .menu li:first-child::before {
  display: none;
}
header .sub-menu .menu li a {
  font-size: 14.5px;
  padding: 10px;
}
header .sub-menu .menu li a:hover {
  text-decoration: underline;
}

/* main menu */
header .main-menu {
  border-top: 1px solid #DDD ;
}
header .main-menu .main-menu--wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  margin-bottom: 2px;
  align-items: center;
  justify-content: space-evenly;
}
header .main-menu .main-menu--wrap .item {
  
}
header .main-menu .main-menu--wrap .item .item--name {
  position: relative;
}
header .main-menu .main-menu--wrap .item:hover .item--name {
  text-decoration: underline;
}
header .main-menu .main-menu--wrap .item:first-child:hover .item--name {

}
header .main-menu .main-menu--wrap .item .item--name button {
  width: 170px;
  height: 30px;
  font-size: 16px;
  border: 0;
}
header .main-menu .main-menu--wrap .item .item--name button:hover {
  text-decoration: underline;
}
header .main-menu .main-menu--wrap .item .item--name .material-icons--lists {
  justify-content: center;
}
header .main-menu .main-menu--wrap .item .item--name button .material-icons--lists .material-icons.truck {
  position: absolute;
  top: 3px;
  left: 20px;
  bottom: 0;
  margin: 0;
}
header .main-menu .main-menu--wrap .item--name button .material-icons.arrow_drop_down {
  width: 24px;
  position: absolute;
  top: 2.5px;
  right: 25px;
  bottom: 0;
  margin: 0;
  color: #CCC;
  /* padding-left: 5px; */
}
header .main-menu .main-menu--wrap .item--contents {
  position: absolute;
  top: 32.5px;
  left: 130px;
  width: 120px;
  height: 135px;
  background-color: #F9F9F9;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
  transition: height .1s;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: none;
}
header .main-menu .main-menu--wrap .item:first-child:hover .item--contents {
  display: block;
}
header .main-menu .main-menu--wrap .item--contents .delivery>a {
  color: #777;
  font-weight: lighter;
  padding: 9.5px 0 0 0px;
}
header .main-menu .main-menu--wrap .item--contents .delivery>a:hover {
  color: #F44336;
  text-decoration: underline #F44336;
}

/* PROMOTION */
.promotion {
  color: #FFF;
}
.promotion .swiper {
  
}
.promotion .swiper .swiper-wrapper {
  
}
.promotion .swiper .swiper-wrapper .swiper-slide {
  
}
.promotion .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 500px;
  object-fit: scale-down;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* PAGINATION */
.promotion .swiper .swiper-pagination {
  color: #FFF;
}
.span.swiper-pagination-bullet {
  color: #FFF;
}
.promotion .swiper .swiper-button-prev {
  color: #FFF;
  margin-left: 150px;
}
.promotion .swiper .swiper-button-next {
  color: #FFF;
  margin-right: 150px;
}
.promotion .swiper .swiper-scrollbar {
  color: #FFF;
}

/* PRODUCTS */
.product_unit {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
h2 {
  color: #16181B;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  /* text-align: center; */
  margin: 50px 0 50px 0;
  width: 1040px;
  position: absolute;
  top: 15px;
  left: 230px;
}
.product_unit .main_board {
  width: 1040px;
  position: absolute;
  top: 100px;
  left: 220px;
  margin: 0 auto;
}
.product_unit .main_board_row2 {
  position: relative;
  top: 725px;
  left: 220px;
  margin: 0 auto;
}
.product_unit .main_board .product-wrapper-left,
.product_unit .main_board_row2 .product-wrapper-left {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 10px;
  border-right: 1px solid #DDD;
}
.product_unit .main_board .product-wrapper-left .brand_img {
  
}
.product_unit .main_board .product-wrapper-left .products_unit,
.product_unit .main_board_row2 .product-wrapper-left .products_unit {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: -15px 13px 0 12px;
  padding: 15px 0 0;
  background-color: #fff;
}
.product_unit .main_board .product-wrapper-left .products_unit .product_img_wrap,
.product_unit .main_board_row2 .product-wrapper-left .products_unit .product_img_wrap {
  text-align: center;
}
.product_unit .main_board .products_unit .product_img_wrap span.promo_icon_sale,
.product_unit .main_board_row2 .products_unit .product_img_wrap span.promo_icon_sale {
  width: 40px;
  height: 18px;
  font-size: 12px;
  color: #FFF;
  border-radius: 50px;
  border: 1px solid #F65B60;
  background-color: #F65B60;
  display: block;
  align-content: center;
}
.product_unit .main_board .products_unit .product_img_wrap .promo_icon,
.product_unit .main_board_row2 .products_unit .product_img_wrap .promo_icon {
  display: flex;
  justify-content: center;
  margin: 5px 0 0;
}
.product_unit .main_board .products_unit .product_img_wrap .brand--name>a,
.product_unit .main_board_row2 .products_unit .product_img_wrap .brand--name>a {
  color: #777;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.product_unit .main_board .products_unit .product_img_wrap .product--name>a,
.product_unit .main_board_row2 .products_unit .product_img_wrap .product--name>a {
  color: #16181B;
  font-size: 14px;
  font-weight: lighter;
  margin: 5px 0 0;
  padding: 2px 0;
}
.product_unit .main_board .products_unit .product_img_wrap .product--price,
.product_unit .main_board_row2 .products_unit .product_img_wrap .product--price {
  color: #16181B;
  font-size: 20px;
  font-weight: 700;
}
.product_unit .main_board .products_unit .product_img_wrap .product--price .product--price_currency,
.product_unit .main_board_row2 .products_unit .product_img_wrap .product--price .product--price_currency{
  /* width: 20px; */
  color: #16181B;
  font-size: 14px;
  font-weight: 700;
  margin-left: -5px;
}
.product_unit .main_board .product-wrapper-right {
  position: absolute;
  top: 0px;
  right: 0;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 10px;
}
.product_unit .main_board_row2 .product-wrapper-right {
  position: absolute;
  top: 0px;
  right: 440px;
  margin: 0 auto;
}
.product_unit .main_board .product-wrapper-right .brand_img {
    
}
.product_unit .main_board .product-wrapper-right .products_unit,
.product_unit .main_board_row2 .product-wrapper-right .products_unit {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: -15px 13px 0 12px;
  padding: 15px 0 0;
  background-color: #fff;
}
.product_unit .main_board .product-wrapper-right .products_unit .product_img_wrap,
.product_unit .main_board_row2 .product-wrapper-right .products_unit .product_img_wrap {
  text-align: center;
}
.product_unit .main_board .products_unit .product_img_wrap span.promo_icon_coupon,
.product_unit .main_board_row2 .products_unit .product_img_wrap span.promo_icon_coupon {
  width: 40px;
  height: 18px;
  font-size: 12px;
  color: #FFF;
  border-radius: 50px;
  border: 1px solid #9BCE26;
  background-color: #9BCE26;
  display: block;
  align-content: center;
}

/* FOOTER */
footer {
  position : relative;
  transform : translateY(260%);
}
footer .footer_menu {
  width: 100%;
  height: auto;
  float: right;
  background-color: #F9F9F9;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  position: relative;
}
footer .footer_menu .menu_ul {
  margin: 0 200px;
  font-size: 14.5px;
  align-items: center;
}
footer .footer_menu .menu_ul li {
  float: left;
}
footer .footer_menu .menu_ul li::before {
  content: "";
  width: 1px;
  height: 14.5px;
  background-color: #D9D9D9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
footer .footer_menu .menu_ul li:first-child::before {
  display: none;
}
footer .footer_menu .menu_ul li a {
  padding: 20px 25px;
}
footer .footer_menu .menu_ul li a:hover {
  text-decoration: underline;
}
footer .footer_menu .menu_ul li a.red {
  color: #F44336;
}
footer .footer_menu .footer_toggle_menu {
  font-size: 14.5px;
  float: right;
  padding: 10px 15px;
  margin: 4px 250px 4px 0;
  position: relative;
}
footer .footer_menu .footer_toggle_menu .toggle_menu {
  
}
footer .footer_menu .footer_toggle_menu .toggle_menu .toggle_menu--name {
  border: 1px solid #CCC;
  font-size: 14.5px;
  text-align: center;
}
footer .footer_menu .footer_toggle_menu .toggle_menu .toggle_menu--name button {
  width: 165px;
  height: 30px;
  padding: 0 20px 0 10px;
  border: 0;
}
footer .footer_menu .footer_toggle_menu .toggle_menu .toggle_menu--name .material-icons {
  height: 24px;
  position: absolute;
  top: 14px;
  bottom: 0;
  margin: 0;
  padding-left: 5px;
}
footer .footer_menu .toggle_menu--contents {
  position: absolute;
  top: 45px;
  right: 265px;
  width: 165px;
  height: 70px;
  background-color: #F9F9F9;
  border-top: 1px solid #F4F4F4;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  font-size: 14.5px;
  text-align: center;
  align-items: center;
  transition: height .1s;
  overflow: hidden;
}
footer .footer_menu .toggle_menu--contents.hide {
  height: 0;
}
footer .footer_menu .toggle_menu--contents li {
  
}
footer .footer_menu .toggle_menu--contents li a {
  position: relative;
  top: 5px;
  padding: 5px 10px;
  display: block;
}

/* footer_contents */
footer .footer_contents {
  width: 100%;
  font-size: 14.5px;
}
footer .footer_contents h2 {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  display: flex;
  padding: 25px 0 5px 0;
  font-size: 15px;
  font-weight: 700;
  /* display: none; */
}
footer .footer_contents .QR_info {
  display: flex;
  position: absolute;
  top: 190px;
  right: 200px;
  padding: 20px 50px;
}
footer .footer_contents .QR_info strong {
  width: auto;
  height: 15px;
  font-size: 12.5px;
  font-weight: 700;
  margin: 5px 10px 0 0;
}
footer .footer_contents .QR_info img {
  width: 60px;
  height: 60px;
}
footer .footer_contents .footer_info {
  margin: 0 215px;
  padding: 5px 0 5px 0;
}
footer .footer_contents button {
  width: 100px;
  height: 25px;
  border: 1px solid #777;
  border-radius: 1.5px;
  padding: 2px 5px 1px 5px;
  display: block;
}
footer .footer_end .footer_end_contents {
  margin-top: 20px;
}
footer .footer_end p {
  font-size: 12px;
  color: #777;
  margin: 0 215px;
  padding: 0 0 0px 0;
  position: relative;
}

