@charset "UTF-8";
@media (max-width: 768px) {
  .product_img_wrap {
    grid-template-columns: 1fr;
  }
}
/* COMMON */
html {
  width: 92em;
  height: 156.3em;
}

body {
  font-size: 1.5em;
  line-height: 2.55em;
  letter-spacing: 0;
  color: #16181B;
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
  font-size: 62.5%;
  cursor: none;
  margin: 0;
}
@media (max-width: 768px) {
  body {
    font-size: 1.35em;
    line-height: 2.295em;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 1.2em;
    line-height: 2.04em;
  }
}

/* LOADING */
#loader {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
}

#l-c {
  color: #16181B;
}

#loader span {
  font-size: 22rem;
  letter-spacing: -1.2rem;
}

@media (max-width: 767px) {
  #loader span {
    font-size: 11rem;
    letter-spacing: -0.7rem;
  }
}
/* 커스텀 커서 */
.cursor {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  pointer-events: none;
  /* 뷰포트 모서리 기준 지름 중앙정렬 */
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
  mix-blend-mode: difference;
  z-index: 1000;
}

main {
  width: 100%;
  height: 60%; /* 화면 전체 높이 */
}

img {
  display: block;
  max-width: 100%;
  cursor: none;
}

a, ul {
  text-decoration: none;
  list-style: none;
  color: #16181B;
}

a {
  display: block;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

/* HEADER */
header {
  width: 100%;
  height: 20%;
  position: relative;
  margin-bottom: 3em;
}
header .top_sub_menu .menu_list--user_manage {
  width: 75%;
  height: 5em;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: right;
}
header .top_sub_menu .menu_list--user_manage li::before {
  content: "";
  width: 0.1em;
  height: 1.2em;
  background-color: #DDD;
  position: absolute;
  top: 0.8em;
  bottom: 0;
  margin: 1em auto;
}
header .top_sub_menu .menu_list--user_manage li:first-child::before {
  display: none;
}
header .top_sub_menu .menu_list--user_manage li:last-child a {
  padding-right: 0;
}
header .top_sub_menu .menu_list--user_manage li a {
  font-size: 1.45em;
  line-height: 2.175em;
  letter-spacing: 0;
  padding: 0.35em 0.7em;
  white-space: nowrap;
}
@media (max-width: 768px) {
  header .top_sub_menu .menu_list--user_manage li a {
    font-size: 1.305em;
    line-height: 1.9575em;
  }
}
@media (max-width: 480px) {
  header .top_sub_menu .menu_list--user_manage li a {
    font-size: 1.16em;
    line-height: 1.74em;
  }
}
header .top_sub_menu .menu_list--user_manage li a:hover {
  text-decoration: underline;
}
header .header__inner {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .header__inner h1 a.logo img {
  width: 18em;
  margin-left: 5em;
}
header .header__inner .search {
  position: absolute;
  top: 2.5em;
  left: 35em;
  height: 4.5em;
  display: flex;
  align-items: center;
}
header .header__inner .search input {
  width: 25em;
  height: 100%; /* 부모 요소와 동일한 높이 */
  border: 0.1em solid #F44336;
  box-sizing: border-box;
  border-radius: 5em;
  padding: 0 10px 0 14px;
  outline: none;
  cursor: unset;
}
header .header__inner .search .material-icons {
  font-size: 2.5em;
  line-height: 3.75em;
  letter-spacing: 0;
  cursor: pointer;
  position: relative;
  right: 1.75em;
}
@media (max-width: 768px) {
  header .header__inner .search .material-icons {
    font-size: 2.25em;
    line-height: 3.375em;
  }
}
@media (max-width: 480px) {
  header .header__inner .search .material-icons {
    font-size: 2em;
    line-height: 3em;
  }
}
header .header__inner .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header__inner .sub-menu .menu_list--promotion_event {
  display: flex;
}
header .header__inner .sub-menu .menu_list--promotion_event > li {
  position: relative;
}
header .header__inner .sub-menu .menu_list--promotion_event > li:last-child a {
  padding-right: 0;
}
header .header__inner .sub-menu .menu_list--promotion_event > li::before {
  content: "";
  width: 0.1em;
  height: 1.8em;
  background-color: #DDD;
  position: absolute;
  top: 50%; /* 상하 중앙 정렬 */
  right: 0;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
}
header .header__inner .sub-menu .menu_list--promotion_event > li:last-child::before {
  display: none;
}
header .header__inner .sub-menu .menu_list--promotion_event > li a {
  font-size: 1.6em;
  line-height: 2.4em;
  letter-spacing: 0;
  padding: 0.35em 0.7em;
}
@media (max-width: 768px) {
  header .header__inner .sub-menu .menu_list--promotion_event > li a {
    font-size: 1.44em;
    line-height: 2.16em;
  }
}
@media (max-width: 480px) {
  header .header__inner .sub-menu .menu_list--promotion_event > li a {
    font-size: 1.28em;
    line-height: 1.92em;
  }
}
header .header__inner .sub-menu .menu_list--promotion_event > li:hover {
  text-decoration: underline;
}
header .header__inner .material-icons.more-btn {
  font-size: 4em;
  line-height: 6em;
  letter-spacing: 0;
  height: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  border: none;
  align-items: center;
  text-align: center;
  color: rgb(153, 151, 151);
  display: none;
}
@media (max-width: 768px) {
  header .header__inner .material-icons.more-btn {
    font-size: 3.6em;
    line-height: 5.4em;
  }
}
@media (max-width: 480px) {
  header .header__inner .material-icons.more-btn {
    font-size: 3.2em;
    line-height: 4.8em;
  }
}

/* MAIN */
main {
  width: 100%;
  height: 60%;
  border-top: 0.1em solid #DDD;
  position: relative;
}
main .main-menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
main .main-menu .delivery {
  background-color: #DDD;
}
main .main-menu .delivery .deliver__item--name button {
  width: 15em;
  height: 3.5em;
}
main .main-menu .delivery .deliver__item--name button .material-icons--lists {
  font-size: 1.2em;
  line-height: 1.8em;
  letter-spacing: 0;
  font-family: "Gothic A1", sans-serif;
}
@media (max-width: 768px) {
  main .main-menu .delivery .deliver__item--name button .material-icons--lists {
    font-size: 1.08em;
    line-height: 1.62em;
  }
}
@media (max-width: 480px) {
  main .main-menu .delivery .deliver__item--name button .material-icons--lists {
    font-size: 0.96em;
    line-height: 1.44em;
  }
}
main .main-menu .delivery .deliver__item--name button .material-icons--lists .material-icons.truck {
  position: absolute;
  top: 0.45em;
  left: 8em;
}
main .main-menu .delivery .deliver__item--name button .material-icons--lists h2 {
  text-align: center;
}
main .main-menu .delivery .deliver__item--name button .material-icons--lists .material-icons.arrow_drop_down {
  width: 1em;
  position: absolute;
  top: 0.5em;
  left: 12.5em;
}
main .main-menu .delivery .deliver__item--name:hover + .deliver__item--contents {
  display: block;
  height: 8.5em;
}
main .main-menu .delivery .deliver__item--contents {
  font-size: 1.5em;
  line-height: 1.35em;
  letter-spacing: 0;
  width: 13.25em;
  height: 0;
  position: absolute;
  top: 3.1em;
  left: 10.75em;
  background-color: #F9F9F9;
  text-align: center;
  border-radius: 0.13em;
  transition: height 0.1s;
  overflow: hidden; /* 요소의 높이 변화가 적용될 때 비정상적인 컨텐츠 노출을 방지 */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: none;
  z-index: 2;
}
@media (max-width: 768px) {
  main .main-menu .delivery .deliver__item--contents {
    font-size: 1.35em;
    line-height: 1.215em;
  }
}
@media (max-width: 480px) {
  main .main-menu .delivery .deliver__item--contents {
    font-size: 1.2em;
    line-height: 1.08em;
  }
}
main .main-menu .delivery .deliver__item--contents li.deliver__contents {
  padding-top: 0.6em;
}
main .main-menu .delivery .deliver__item--contents li.deliver__contents a:hover {
  -webkit-text-decoration: underline #F44336;
          text-decoration: underline #F44336;
  font-weight: 700;
  color: #F44336;
}
main .main-menu .menu_list--shopping_cate {
  display: flex;
}
main .main-menu .menu_list--shopping_cate .shopping_cate__item--name a {
  padding: 0 0 0 12.5em;
  text-align: center;
}
main .main-menu .menu_list--shopping_cate .shopping_cate__item--name a span {
  font-size: 1.6em;
  line-height: 2.4em;
  letter-spacing: 0;
  padding: 0.35em 0.4em;
}
@media (max-width: 768px) {
  main .main-menu .menu_list--shopping_cate .shopping_cate__item--name a span {
    font-size: 1.44em;
    line-height: 2.16em;
  }
}
@media (max-width: 480px) {
  main .main-menu .menu_list--shopping_cate .shopping_cate__item--name a span {
    font-size: 1.28em;
    line-height: 1.92em;
  }
}
main .main-menu .menu_list--shopping_cate .shopping_cate__item--name a span:hover {
  text-decoration: underline;
}
main .promotion .swiper .swiper-wrapper {
  width: 100%; /*  1000px */
  height: 500px;
}
main .promotion .swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/* PRODUCTS */
h3 {
  font-size: 2.5em;
  line-height: 3.75em;
  letter-spacing: 0;
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  padding-left: 1.5em;
}
@media (max-width: 768px) {
  h3 {
    font-size: 2.25em;
    line-height: 3.375em;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 2em;
    line-height: 3em;
  }
}

.product_unit {
  width: 70%;
  display: grid;
  margin: 0 auto;
  gap: 8em 3.5em; /* 요소 간격 */
  grid-template-columns: repeat(2, 1fr); /* 2열 배치 */
  justify-content: space-evenly; /* 좌우 정렬 */
}
.product_unit .product-wrapper {
  box-sizing: border-box; /* 패딩 포함 */
  display: grid;
  place-items: center; /* 가로 및 세로 중앙 정렬 */
  height: 100%; /* 부모 요소 높이를 기준으로 중앙 정렬 */
}
.product_unit .product-wrapper .brand_img {
  max-width: 100%; /* 필요에 따라 이미지 크기 조정 */
}
.product_unit .product-wrapper .products_unit {
  display: grid;
  position: relative;
  top: -2em;
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr); /* 2열 배치 */
  gap: 1.5em;
}
.product_unit .product-wrapper .products_unit .product_img_wrap {
  text-align: center;
  margin-top: 1.5em;
}
.product_unit .product-wrapper .products_unit .product_img_wrap:first-child {
  margin-left: 1.5em;
}
.product_unit .product-wrapper .products_unit .product_img_wrap .brand--name > a {
  font-size: 1.45em;
  line-height: 2.175em;
  letter-spacing: 0;
  color: #777;
  font-weight: bold;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .brand--name > a {
    font-size: 1.305em;
    line-height: 1.9575em;
  }
}
@media (max-width: 480px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .brand--name > a {
    font-size: 1.16em;
    line-height: 1.74em;
  }
}
.product_unit .product-wrapper .products_unit .product_img_wrap .brand--name > a:hover {
  text-decoration: underline;
}
.product_unit .product-wrapper .products_unit .product_img_wrap .product--name > a {
  font-size: 1.6em;
  line-height: 1.44em;
  letter-spacing: 0;
  color: #16181B;
  font-weight: lighter;
  margin: 5px 0 0;
  padding: 2px 0;
}
@media (max-width: 768px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .product--name > a {
    font-size: 1.44em;
    line-height: 1.296em;
  }
}
@media (max-width: 480px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .product--name > a {
    font-size: 1.28em;
    line-height: 1.152em;
  }
}
.product_unit .product-wrapper .products_unit .product_img_wrap .product--name > a:hover {
  text-decoration: underline;
}
.product_unit .product-wrapper .products_unit .product_img_wrap .product--price {
  font-size: 2em;
  line-height: 2em;
  letter-spacing: 0;
  color: #16181B;
  font-weight: bold;
}
@media (max-width: 768px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .product--price {
    font-size: 1.8em;
    line-height: 1.8em;
  }
}
@media (max-width: 480px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .product--price {
    font-size: 1.6em;
    line-height: 1.6em;
  }
}
.product_unit .product-wrapper .products_unit .product_img_wrap .product--price .product--price_currency {
  font-size: 0.725em;
  line-height: 1.0875em;
  letter-spacing: 0;
  color: #16181B;
  font-weight: bold;
  margin-left: -5px;
}
@media (max-width: 768px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .product--price .product--price_currency {
    font-size: 0.6525em;
    line-height: 0.97875em;
  }
}
@media (max-width: 480px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .product--price .product--price_currency {
    font-size: 0.58em;
    line-height: 0.87em;
  }
}
.product_unit .product-wrapper .products_unit .product_img_wrap .promo_icon {
  font-size: 1.5em;
  line-height: 1.35em;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  margin: 5px 0 0;
}
@media (max-width: 768px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .promo_icon {
    font-size: 1.35em;
    line-height: 1.215em;
  }
}
@media (max-width: 480px) {
  .product_unit .product-wrapper .products_unit .product_img_wrap .promo_icon {
    font-size: 1.2em;
    line-height: 1.08em;
  }
}
.product_unit .product-wrapper .products_unit .product_img_wrap .promo_icon .promo_icon_sale {
  width: 40px;
  height: 18px;
  color: #FFF;
  border-radius: 50px;
  border: 1px solid #F65B60;
  background-color: #F65B60;
  display: block;
  align-content: center;
}
.product_unit .product-wrapper .products_unit .product_img_wrap .promo_icon .promo_icon_coupon {
  width: 40px;
  height: 18px;
  color: #FFF;
  border-radius: 50px;
  border: 1px solid #9BCE26;
  background-color: #9BCE26;
  display: block;
  text-align: center;
}

/* FOOTER */
footer {
  width: 100%;
  height: 20%;
}
footer .footer_menu {
  width: 100%;
  height: auto;
  float: right;
  background-color: #F9F9F9;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  position: relative;
  margin: 6em 0;
}
footer .footer_menu .menu_ul {
  font-size: 1.6em;
  line-height: 1.44em;
  letter-spacing: 0;
  margin: 0 12em;
  align-items: center;
}
@media (max-width: 768px) {
  footer .footer_menu .menu_ul {
    font-size: 1.44em;
    line-height: 1.296em;
  }
}
@media (max-width: 480px) {
  footer .footer_menu .menu_ul {
    font-size: 1.28em;
    line-height: 1.152em;
  }
}
footer .footer_menu .menu_ul li {
  float: left;
}
footer .footer_menu .menu_ul li a {
  padding: 20px 25px;
}
footer .footer_menu .menu_ul li a:hover {
  text-decoration: underline;
}
footer .footer_menu .menu_ul li a.red {
  color: #F44336;
}
footer .footer_menu .menu_ul li::before {
  content: "";
  width: 1px;
  height: 14.5px;
  background-color: #D9D9D9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
footer .footer_menu .menu_ul li:first-child::before {
  display: none;
}
footer .footer_menu .footer_toggle_menu {
  font-size: 1.45em;
  line-height: 2.175em;
  letter-spacing: 0;
  float: right;
  padding: 10px 15px;
  margin: 4px 250px 4px 0;
  position: relative;
}
@media (max-width: 768px) {
  footer .footer_menu .footer_toggle_menu {
    font-size: 1.305em;
    line-height: 1.9575em;
  }
}
@media (max-width: 480px) {
  footer .footer_menu .footer_toggle_menu {
    font-size: 1.16em;
    line-height: 1.74em;
  }
}
footer .footer_menu .footer_toggle_menu li.toggle_menu .toggle_menu--name {
  font-size: 1.45em;
  line-height: 1.3775em;
  letter-spacing: 0;
  border: 1px solid #CCC;
  text-align: center;
}
@media (max-width: 768px) {
  footer .footer_menu .footer_toggle_menu li.toggle_menu .toggle_menu--name {
    font-size: 1.305em;
    line-height: 1.23975em;
  }
}
@media (max-width: 480px) {
  footer .footer_menu .footer_toggle_menu li.toggle_menu .toggle_menu--name {
    font-size: 1.16em;
    line-height: 1.102em;
  }
}
footer .footer_menu .footer_toggle_menu li.toggle_menu .toggle_menu--name button {
  font-size: 0.68em;
  line-height: 1.02em;
  letter-spacing: 0;
  width: 165px;
  height: 30px;
  padding: 0 20px 0 10px;
  border: 0;
}
@media (max-width: 768px) {
  footer .footer_menu .footer_toggle_menu li.toggle_menu .toggle_menu--name button {
    font-size: 0.612em;
    line-height: 0.918em;
  }
}
@media (max-width: 480px) {
  footer .footer_menu .footer_toggle_menu li.toggle_menu .toggle_menu--name button {
    font-size: 0.544em;
    line-height: 0.816em;
  }
}
footer .footer_menu .footer_toggle_menu li.toggle_menu .toggle_menu--name button .material-icons.keyboard_arrow_down {
  height: 25px;
  position: absolute;
  top: 14.5px;
  bottom: 0;
  margin: 0;
  padding-left: 5px;
}
footer .footer_menu .toggle_menu--contents {
  font-size: 1.45em;
  line-height: 1.45em;
  letter-spacing: 0;
  position: absolute;
  top: 45.5px;
  right: 265px;
  width: 165px;
  height: 75px;
  background-color: #F9F9F9;
  border-top: 1px solid #F4F4F4;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  text-align: center;
  align-items: center;
  transition: height 0.1s;
  overflow: hidden;
}
@media (max-width: 768px) {
  footer .footer_menu .toggle_menu--contents {
    font-size: 1.305em;
    line-height: 1.305em;
  }
}
@media (max-width: 480px) {
  footer .footer_menu .toggle_menu--contents {
    font-size: 1.16em;
    line-height: 1.16em;
  }
}
footer .footer_menu .toggle_menu--contents ul li a {
  position: relative;
  top: 5px;
  padding: 5px 10px;
  display: block;
}
footer .footer_menu .toggle_menu--contents ul li a:hover {
  text-decoration: underline;
}
footer .footer_menu .toggle_menu--contents.hide {
  height: 0;
}
footer .footer_contents {
  font-size: 1.45em;
  line-height: 1.45em;
  letter-spacing: 0;
  width: 100%;
}
@media (max-width: 768px) {
  footer .footer_contents {
    font-size: 1.305em;
    line-height: 1.305em;
  }
}
@media (max-width: 480px) {
  footer .footer_contents {
    font-size: 1.16em;
    line-height: 1.16em;
  }
}
footer .footer_contents h4 {
  font-size: 1.25em;
  line-height: 1.875em;
  letter-spacing: 0;
  margin: 0 12em 1em 12em;
  font-weight: bold;
}
@media (max-width: 768px) {
  footer .footer_contents h4 {
    font-size: 1.125em;
    line-height: 1.6875em;
  }
}
@media (max-width: 480px) {
  footer .footer_contents h4 {
    font-size: 1em;
    line-height: 1.5em;
  }
}
footer .footer_contents .footer_info {
  margin: 0 215px;
  padding: 5px 0 5px 0;
  line-height: 1.8em;
}
footer .footer_contents .footer_info button {
  width: 100px;
  height: 25px;
  border: 1px solid #777;
  border-radius: 1.5px;
  padding: 2px 5px 1px 5px;
  display: block;
}
footer .footer_end {
  position: relative;
}
footer .footer_end .footer_end_contents {
  margin-top: 20px;
}
footer .footer_end .footer_end_contents p {
  font-size: 1.25em;
  line-height: 1.25em;
  letter-spacing: 0;
  color: #777;
  margin: 0 215px;
  padding: 0 0 0px 0;
  position: relative;
}
@media (max-width: 768px) {
  footer .footer_end .footer_end_contents p {
    font-size: 1.125em;
    line-height: 1.125em;
  }
}
@media (max-width: 480px) {
  footer .footer_end .footer_end_contents p {
    font-size: 1em;
    line-height: 1em;
  }
}
footer .footer_end p.QR_info {
  position: absolute;
  bottom: -1.5em;
  right: 26em;
  display: flex; /* 내용 정렬 */
}
footer .footer_end p.QR_info strong {
  font-size: 1.25em;
  line-height: 1.875em;
  letter-spacing: 0;
  width: auto;
  height: 15px;
  font-weight: bold;
  margin: 0px 10px 0 0;
}
@media (max-width: 768px) {
  footer .footer_end p.QR_info strong {
    font-size: 1.125em;
    line-height: 1.6875em;
  }
}
@media (max-width: 480px) {
  footer .footer_end p.QR_info strong {
    font-size: 1em;
    line-height: 1.5em;
  }
}
footer .footer_end p.QR_info span > img {
  width: 5em;
  height: 5em;
}/*# sourceMappingURL=main.css.map */